body {
  font-family: "Roboto", sans-serif;
  background-color: azure;
  margin: 0;
}
p {
  margin: 35px 0;
}
section {
  width: 1128px;
  padding: 30px 0;
  display: flex;
  margin: auto;
}
.wide-half {
  width: 66%;
}
.top-p {
  padding-right: 50%;
}
.small-half {
  width: 33%;
  padding: 10px;
}
.wide-half img,
.small-half img {
  width: 100%;
}
.second-color {
  color: #ac65db;
}
#main-title {
  font-family: "DM Serif Display", serif;
  font-size: 3em;
  margin-top: 100px;
  padding: 0 10px;
  border-left: 5px solid #ac65db;
}
.section-title {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}
.anchor-btn {
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  background: linear-gradient(#cb9fe8, #9333db);
  color: azure;
  box-shadow: 1px 2px 5px;
}
#mymission {
  flex-direction: column;
}
#third-section .wide-half {
  padding-left: 20%;
}
.flex-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
}
.card-1 {
  background-color: rgb(188, 239, 252);
}
.card-2 {
  background-color: rgb(252, 252, 206);
}
.card-3 {
  background-color: rgb(247, 217, 250);
}
.card img {
  width: 126px;
  height: auto;
}
.center-align {
  vertical-align: middle;
}
.card-p {
  width: 450px;
}
ul {
  list-style: none;
}
ul li:before {
  content: "✓ ";
}
footer {
  height: 150px;
  color: aliceblue;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
footer h1 {
  font-family: "DM Serif Display", serif;
}
